<!--
  Generated template for the StdRegPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="blue">
    <button ion-button menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>	
    <ion-title>Student Registration</ion-title>
     <!-- <ion-buttons end>
      <button class="bell-icon" (click)=goToPersonalNotice()> 
        <i class="fas fa-bell fa-inverse fa-lg"></i> 
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content padding>
    <!-- <h5 class="title" text-center text-uppercase margin-bottom>Student Registration</h5> -->
    <div text-center margin-top>
      <h4 style="font-size: 1.6rem;">
        <img class="login-page-logo" src="assets/icon/cyverhub_logo.svg">
        <img class="straight-line" src="assets/icon/substract.svg"> Welcome Student !
      </h4>
    </div>


    <p class="sub-line">
			<span>Register with your<br>organisation to get the most<br>out of this application.</span>
		</p>
		<p class="" text-center text-capitalize margin-bottom style="text-decoration: underline; font-size: 16px;">Please fill the following details</p>
    <!-- <ion-list>
      <ion-item> -->
        <!-- <ion-navbar color="light" [hideBackButton]="isSearchbarOpened ? 'true' : 'false'"> -->
          <!-- <ion-title *ngIf="isSearchbarOpened==false">Submit Enquiry</ion-title>
          <ion-buttons end *ngIf="isSearchbarOpened==false" (click)="onSearchButtonClick()">
            <button ion-button icon-only>
              <ion-icon name="search" color="light"></ion-icon>
            </button>
          </ion-buttons> -->
        <ion-list>
            <ion-item>
              <ion-label style="color: #9a9a9a">Organization Type</ion-label>

              <ion-select [(ngModel)]="type" (ngModelChange)="getData()">
                <ion-option value="1">School</ion-option>
                <ion-option value="2">College</ion-option>
                <ion-option value="3">University</ion-option>                
              </ion-select>

            </ion-item>

            <ion-item>  
              <ion-label floating style="color: #9a9a9a">Type Your Organization Name</ion-label>
              <ion-input type="text" name="inputShowValue" [(ngModel)]="inputShowValue" (keyup)="getItems($event)"></ion-input>
            </ion-item>  
                
        </ion-list>

        <ion-list style="background-color: #3f3f3f; color: #fff; font-size: 13px; margin-left: 10px;"  class="search-result" [ngStyle]="{'display':isSearchbarOpened ? '' : 'none' }">
          <ion-item *ngFor="let item of items" (click)="schoolsDetails(item)" style="margin-left: 10px;">
            {{ item.name }}
            <p>City : {{ item.city }}, Pin : {{ item.pin }}</p>
          </ion-item>
                    
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label floating style="color: #9a9a9a">Registered Phone No</ion-label>
            <ion-input type="number" name="regNo" [(ngModel)]="mobileNo"></ion-input>
          </ion-item>
          <p class="input-info">Which linked with your organisation</p>
          <ion-item>
            <ion-label floating style="color: #9a9a9a">Registered Identity No</ion-label>
            <ion-input type="text" name="idNo" [(ngModel)]="idNo"></ion-input>
          </ion-item>
          <p class="input-info">Which linked with your organisation</p>
        </ion-list>
      <!-- </ion-item> 
    </ion-list> -->

    <!-- <ion-list> -->
        <!-- <ion-item>
          <ion-label>Phone No</ion-label>
          <ion-input type="number" name="regNo" [(ngModel)]="mobileNo"></ion-input>
        </ion-item>  -->
        <!-- <ion-item>
          <ion-label floating>Phone No</ion-label>
          <ion-input type="number" name="regNo" [(ngModel)]="mobileNo"></ion-input>
        </ion-item>      -->
    <!-- </ion-list> -->

    <!-- <button ion-button block outline color="blue" class="" (click)='registrationSubmit()'>Submit</button> -->
    <div text-center margin-top>
        <button ion-button color="blue" class="btn-size" (click)='registrationSubmit()'>Submit</button>
    </div>

    
    <div text-capitalize text-center margin-top>
      <p (click)='goToLogin()' style="font-size: 16px; cursor: pointer; font-weight: bold;">already registered?<br> click here to login now.</p>
    </div>
</ion-content>
