<!--
  Generated template for the RoutinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-title>Routine</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<ion-list>
    <ion-item padding *ngFor="let routine of routineList" (click)="toggleDetails(routine)"><ion-icon color="primary" item-right [name]="routine?.icon"></ion-icon>
      Day {{routine?.day}}
      <!-- <table *ngIf="routine.showDetails">{{routine}}</table> -->

      <ion-list *ngIf="routine?.showDetails">
				<ion-item *ngFor="let r of routine.priods">
          <p>Priod : {{r?.priod_name}} Priod</p>
          <p *ngIf="r?.rutinedetails[0]">CC Name : {{r?.rutinedetails[0]?.cc_name}}</p>
          <p *ngIf="!r?.rutinedetails[0]">CC Name : No Priod</p>
          <p *ngIf="r?.rutinedetails[0]">Time : {{r?.from_time}} to {{r?.to_time}}</p>
          <p *ngIf="!r?.rutinedetails[0]">Time : NA</p>
          <p *ngIf="r?.rutinedetails[0]">Teacher : {{r?.rutinedetails[0]?.teacher?.name}} ({{r?.rutinedetails[0]?.teacher?.short_name}})</p>
          <p *ngIf="!r?.rutinedetails[0]">Teacher : NA</p>
				</ion-item>
      </ion-list>
    
    </ion-item>
  </ion-list>

</ion-content>


<!-- 
<ion-footer class="fixed">
  <ion-toolbar color="primary">  
  <ion-grid text-center >
    <ion-row>
      <div col-3 (click)=goToHome()>
        <img src="assets/imgs/white-icon5.png">
        <p class="footer-p">Home</p>
      </div>
      <div col-3 (click)=gotoLiveStream()>
        <img src="assets/imgs/white-icon1.png">
        <p class="footer-p">Live Streaming</p>
      </div>
      <div col-3 (click)=goToAttendance()>
        <img src="assets/imgs/white-icon2.png">
        <p  class="footer-p">Attendance</p>
      </div>
      <div col-3 (click)=goToRoutine()>
        <img src="assets/imgs/white-icon3.png">
        <p  class="footer-p">Routine</p>
      </div>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer> -->

