page-stuff-registration {
    .search-result{
		position: absolute;
		left: 0;
		/* top: 56px; */
		background: rgba(255, 255, 255, 0.839);
		width: 100%;
		// height: 100vh;
		z-index: 99;
		border: 1px solid #ddd;
		overflow-y: scroll;
		/* visibility: hidden; */
		/* opacity: 0; */
	}
	
	.title{
		font-size: 17px;
		text-decoration: underline;
	}

	.sub-line{
		text-align: center;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding: 10px;
		margin: 0 21px 10px;
		color: rgb(83, 83, 83);
	}
	.btn-size {
		padding: 15px 25px !important;
	}
	.list-md{
		margin: -1px 0 0px !important;
	}
}
