page-stuff-registration {
    .search-result{
		position: absolute;
		left: 0;
		/* top: 56px; */
		background: rgba(255, 255, 255, 0.839);
		width: 100%;
		// height: 100vh;
		z-index: 99;
		border: 1px solid #ddd;
		overflow-y: scroll;
		/* visibility: hidden; */
		/* opacity: 0; */
	}
	
	.title{
		font-size: 17px;
		text-decoration: underline;
	}

	.sub-line{
		text-align: center;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding: 10px;
		margin: 0 21px 10px;
		color: rgb(83, 83, 83);
	}
	.btn-size {
		padding: 15px 25px !important;
	}
	.list-md{
		margin: -1px 0 0px !important;
	}







	.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
		color: #fff !important;
	}
	.toolbar-background-md {
		background-color: #009688 !important;
	}
	.toolbar-title-md {
		color: #fff !important;
	}
	.title {
			text-decoration: none !important;
	}

	.content-md {
		color: #fff !important;
		background-color: #1b1b1b !important;
	}
	.list-md .item-block .item-inner {
		border-bottom: 1px solid #dedede !important;
	}
	.button-clear-md {
		color: #f6f6f6 !important;
	}
	.button-md-blue {
		color: #202020 !important;
		background-color:#1CB9FF !important;
	}
	.item-md{
		background-color: none !important;
		background:  none !important;
		color: #f6f6f6 !important;
	}
	.list-md .item-input:last-child {
    border-bottom: none !important;
	}
}
