page-parents-student-view {
	
	.toolbar-md-blue .bar-button-md-light, .toolbar-ios-blue .bar-button-ios-light{
	    display: block !important;
	}
	.icon-center, .icon-center img{
		display: block !important;
		text-align: center !important;
		margin:0px auto !important;
	}
	.icon-center{
		border: 1px solid #fff;
	    background: #EEEEEE;
	    padding: 5px 0;
	}
	.icon-center p{
		font-size: 12px;
	}
	.bell-icon{
		cursor:pointer !important;
		background:none;
		float: right; 
	}
}