<!--
  Generated template for the SchoolDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="blue">
     <!--  <expandable-header [scrollArea]="mycontent" headerHeight="125">
        <img src="assets/imgs/SCHOOLS-Banner-Images.jpg"/>
      </expandable-header> -->
      <ion-title>College Details</ion-title>
      <ion-buttons end (click)=goToHome()>
          <button ion-button icon-only>
            <ion-icon name="home" color="light"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content fullscreen="" #mycontent="">

<!-- <ion-card>
  <img src="assets/imgs/SCHOOLS-Banner-Images.jpg"/>
  <ion-card-content>
    <ion-card-title>

      {{ schoolDetails && schoolDetails[0]?.school_name }}
      </ion-card-title>
      <p><strong>Address</strong>: {{schoolDetails.org_address}}</p>
      <p><strong>Email</strong>: {{schoolDetails.org_address}}</p>
      <p><strong>Mobile</strong>: {{schoolDetails.org_address}}</p>

      <p>The most popular industrial group ever, and largely responsible for bringing the music to a mass audience. The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
      </p>
  </ion-card-content>
</ion-card> -->


  <!-- <ion-card>
    <img [src]="schoolDetails?.org_img"/>
    <ion-card-content>
      <ion-card-title>
        {{schoolDetails?.org_name}}
      </ion-card-title>
        <div float-right >
          <p [ngStyle]="{'font-size': '24px'}">
            <ion-icon name="cloud"></ion-icon>
          17 °C</p>
        </div>
        <div [innerHtml]="schoolDetails?.org_text"></div>
        <p><strong>About</strong> : </p>
        <div [innerHtml]="schoolDetails?.org_about" class="mt-4"></div>
    </ion-card-content>
    
  </ion-card> -->


  <ion-card>
    
    <ion-card-content>
        <ion-card-title>
          <img [src]="schoolDetails?.org_logo"/>
          <p>{{schoolDetails?.org_name}}</p>
        </ion-card-title>

      <div class="info" style="padding: 10px;">        
        <p><strong>Land Mark</strong>: {{schoolDetails?.landmark}}</p>
        <p><strong>City</strong>: {{schoolDetails?.org_city}}</p>
        <!-- <div float-right >
            <p [ngStyle]="{'font-size': '24px'}">
              <ion-icon name="cloud"></ion-icon><br>
            17 °C</p>
          </div> -->
        <p><strong>District</strong>: {{schoolDetails?.district?.name}}</p>
        <p><strong>Country</strong>: {{schoolDetails?.country?.name}}</p>
        
        
        <p ><strong>Email</strong>: {{schoolDetails?.email}}</p>
        <p><strong>College Phone</strong>: {{schoolDetails?.phone_no}}</p>
        <p><strong>Website</strong>: {{schoolDetails?.website}}</p>
      </div>


      <div [innerHtml]="schoolDetails?.org_text"></div>
        <!-- <p><strong>About</strong> : </p>
        <div [innerHtml]="schoolDetails?.org_about" class="mt-4"></div> -->
        <!-- <ion-toolbar no-border-top *ngIf="schoolDetails?.is_registered == '1'">
          <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="about">
              About
            </ion-segment-button>
            <ion-segment-button value="affiliations">
              Affiliations
            </ion-segment-button>
            <ion-segment-button value="facitity">
              Facility
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar> -->
      </ion-card-content>  
  </ion-card>




  <ion-card>    
    <ion-card-content>
      <div class="info" style="padding: 10px; height: 80px;">
        <div class="" *ngIf="weatherdata">
            <img class="wether-icon1" src="assets/icon/mobileme-logo-of-black-cloud.svg" alt="weather">
            <img class="wether-icon" src="{{weatherIcon}}" alt="weather">
            <span class="weatherdata">
              <label *ngIf="temp" style="font-size: 9px; color: #000;"><span style="font-size: 9px; color: #000;">Now</span> {{temp}} C</label>
            </span>  
            
            <span class="weatherdata1">
                <p style="font-size: 9px; padding: 0px; margin: 0px; line-height: 1.3">
                  <span style="font-size: 9px; color: #fff;">Max</span> {{maxTemp}} C
                </p>
              
                <p style="font-size: 9px; padding: 0px; margin: 0px; line-height: 1.3">
                  <span style="font-size: 9px; color: #fff;">Min</span> {{minTemp}} C
                </p>
                
                <p style="font-size: 9px; padding: 0px; margin: 0px; line-height: 1.3">
                  <span style="font-size: 9px; color: #fff;">Humidity</span> {{humidity}}
                </p>
            </span>
        </div>
      </div>  
    </ion-card-content>
  </ion-card>

  <!-- <ion-grid>
    <ion-row>
      <ion-col col-md-4 class="icon-center" (click)=gotoLiveStream()>
        <img src="assets/imgs/icon6.png"/>
        <p>Live Streaming</p>
      </ion-col>
      <ion-col col-md-4 class="icon-center" (click)=goToAllPdf()>
        <img src="assets/imgs/icon2.png"/>
        <p>Notice Board</p>
      </ion-col>
      <ion-col col-md-4 class="icon-center" (click)=goToLibrary()>
        <img src="assets/imgs/icon.png"/>
        <p>Library</p>
      </ion-col>
    </ion-row>
    
    <ion-row>      
      <ion-col col-md-4 class="icon-center">
        <img src=""/>
        <p></p>
      </ion-col>
      <ion-col col-md-4 class="icon-center">
        <img src=""/>
        <p></p>
      </ion-col>
      <ion-col col-md-4 class="icon-center">
        <img src=""/>
        <p></p>
      </ion-col>
    </ion-row>
  </ion-grid> -->

<!-- <ion-grid text-center>
  <button ion-button color="blue" (click)=goToAllPdf()>NOTICE BOARD</button>
  <button ion-button color="blue" (click)=goToLibrary()>LIBRARY MANAGEMENT</button>
</ion-grid> -->
  <!-- <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'about'">
      <div [innerHtml]="schoolDetails?.org_about"></div>
    </ion-list>
  
    <ion-list *ngSwitchCase="'affiliations'">
     
  
    </ion-list>
  
    <ion-list *ngSwitchCase="'facitity'">
  
    </ion-list>
  </div> -->
</ion-content>

<!-- <ion-footer class="fixed" *ngIf="schoolDetails?.is_registered == '1'">
  <ion-toolbar color="primary">
  <ion-grid text-center >
    <ion-row>
      <div col-3 (click)=goToNotice()>
        <i text-center class="fas fa-home fa-inverse fa-lg"></i>
        <p class="footer-p">Notice</p>
      </div>
      <div col-3 (click)=gotoLiveStream()>
        <i text-center class="fas fa-video fa-inverse fa-lg"></i>
        <p class="footer-p">Live Streaming</p>
      </div>
      <div col-3 (click)=goToLibrary()>
        <i text-center class="fas fa-align-justify fa-inverse fa-lg"></i>
        <p  class="footer-p">Library</p>
      </div>
      <div col-3 (click)=goToCalender()>
        <i text-center class="far fa-calendar-alt fa-inverse fa-lg"></i>
        <p  class="footer-p">Calender</p>
      </div>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer> -->