
page-school-details {
	 
     .fixed p{
        font-size:8px !important;   
    }
	 ion-item {
            width: 92%;
            margin: 4%;
            padding-left: 10px !important;
            margin-bottom: 10px;
            background-color: #fff;
            opacity: 0.7;
            font-size: 0.9em;
            transition: 0.2s linear;
        }
    .icon-center, .icon-center img{
        display: block !important;
        text-align: center !important;
        margin:0px auto !important;
    }
    .icon-center{
        border: 1px solid #fff;
        background: #EEEEEE;
        padding: 5px 0;
    }
    .icon-center p{
        font-size: 12px;
    }
        
}
