<!--
  Generated template for the GuestEnquiryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="blue" [hideBackButton]="isSearchbarOpened ? 'true' : 'false'">
    	<ion-title *ngIf="isSearchbarOpened==false">Submit Enquiry</ion-title>
			<ion-buttons end *ngIf="isSearchbarOpened==false" (click)="onSearchButtonClick()">
				<button ion-button icon-only>
					<ion-icon name="search" color="light"></ion-icon>
				</button>
			</ion-buttons>
			<ion-searchbar #search (ionInput)="getItems($event)" *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
		</ion-navbar>
		<div class="search-result" [ngStyle]="{'display':isSearchbarOpened ? 'block' : 'none' }">
			<ion-list>
			<ion-item *ngFor="let item of items" (click)="schoolsDetails(item.id)">
				{{ item.name }}
			</ion-item>
		</ion-list>
		</div>

  	<!-- <ion-toolbar>
    	<ion-searchbar></ion-searchbar>
  	</ion-toolbar> -->
</ion-header>


<ion-content class="item-center" padding color="light">
	<img src="assets/imgs/logo.jpg" class="img-width"/>
	<!-- <h1 class="heading" text-center text-uppercase>CyberHub</h1> -->
	<img src="assets/imgs/bk.png" class="img-width" />
	<div class="enquiry-form">
		 <h1 text-center text-uppercase margin-bottom color="blue">Find Your Organization</h1>
	 <form>

	 	<ion-item class="select-css">
		  <ion-label>Country</ion-label>
		  <ion-select [(ngModel)]="contry" name="country">
		    <ion-option value="101">India</ion-option>
		    
		  </ion-select>
		</ion-item>


	 	<ion-item class="select-css">
	 		<ion-label>State</ion-label>
		  <ion-select [(ngModel)]="state" name="state">
		    <ion-option value="41">West Bangal</ion-option>
		    
		  </ion-select>
		</ion-item>
		<ion-item>
			<ion-label color="primary" fixed>Jela</ion-label>
			<ion-input type="text" placeholder="Enter jela" name="jela" [(ngModel)]="jela"></ion-input>
		</ion-item>
		<!-- <ion-item class="select-css">
			<ion-label>City</ion-label>

		  <ion-select>
		    <ion-option>Kolkata</ion-option>
		    <ion-option>Delhi</ion-option>
		    <ion-option>Mumbai</ion-option>
		    <ion-option>Lucknow</ion-option>
		    <ion-option>Chennai</ion-option>
		    <ion-option>Bangalore</ion-option>
		  </ion-select>
		</ion-item> -->
		<!-- or with standalone set to true -->

		 <button ion-button type="submit" block outline color="blue" (click)=goToListing()>Submit Enquiry</button>
	</form>
</div>
</ion-content>
