page-attendance-list {
	.padding{
		padding:0px 30px;
		margin-bottom: 10px;
	}
	.button-outline-md-blue {
		border-color: #f7f5f5;
		color: #e6dede;
		background-color: transparent;
	}

	.checkbox-md .checkbox-checked {
		border-color: #31be0c !important;
		background-color: #31be0c !important;
	}
}
