<div class="overley" *ngIf="showLoader"></div>  
<div class="spinner" *ngIf="showLoader">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
</div>


<ion-header>
  <ion-navbar color="blue">
    <ion-title>Complain Reply</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<h1 text-center text-uppercase margin-bottom color="blue" class="">Type Your Reply</h1>

	<ion-list>
	  <ion-item>
	    <ion-textarea [(ngModel)]="complainMsg" type="text" placeholder="Type Here to Reply" (keyup)=onChangeTextValue()></ion-textarea>
	  </ion-item>
	</ion-list>

	<button ion-button type="submit" block outline color="blue" class="mt-10" [disabled]="btnDisabled" (click)=sendReply()>Submit Reply</button>
</ion-content>
