page-complain-reply {
	h1{
		// color: #00109f;
		color: #000;
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	h1:after{
		position: absolute;
		content: "";
		bottom:0;
		margin: 0px auto;
		width: 60%;
		height: 2px;
		left: 50%;
		transform: translateX(-50%);
		// background: #00109f;
		background: #000;
		margin-top: 30px;
	}
	
	.overley {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		background-color: #000;
		opacity: 0.6;
		z-index: 999999999;
	}
}
