page-search-organisation {
    html, body{
        font-family: Roboto, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .search-result{
		position: absolute;
		left: 0;
		/* top: 56px; */
		background: rgba(255, 255, 255, 0.839);
		width: 100%;
		// height: 100vh;
		z-index: 99;
		border: 1px solid #ddd;
        overflow-y: scroll;
        
		/* visibility: hidden; */
		/* opacity: 0; */
    }
    .content-md{
        background-color: #202020 !important;  
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #000 !important;
    }
    .toolbar-background-md {
        background-color: #7becd7;
    }
    .toolbar-title-md {
        color: #000;
    }
    .text-input{
        background-color: #3f3f3f;
    }
    .item-md {
        background-color: #3f3f3f;
        color: #fff;
        font-size: 13px;
    }
    .note-md{
        color: #fff;
        opacity: .3;
        font-size: 11px;
        margin: -10px 8px 9px 0 !important;
    }
    .col-result-add {
        color: #fff;
        opacity: .6;
        font-size: 11px;
        margin-top: 5px;
    }
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
        color: #795548;
    }
    .icon-md-light {
        color: #000;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #fff !important;
    }  
    .search-result {
        border: none !important;
    }  
    .item-md {
        border-bottom: 0.2px solid #eee;
    }


    .action-sheets-basic-page .action-sheet-md .action-sheet-title {
        border-bottom: 1px solid #b5b4b4;
        padding-top: 4px;
        padding-bottom: 8px;
    }

    .action-sheets-basic-page {
        border-bottom: 1px solid #b5b4b4;
        padding-top: 4px;
        padding-bottom: 8px;
    }


    .overley {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: 0.6;
        z-index: 999999999;
    }

    
}





