page-student-library-list {
	.fixed p{
		font-size:8px !important;	
	}
	.toolbar-md, .toolbar-ios{
		padding:0px;
	}
	.search-icon i{
		color: #fff;
		padding-top: 5px;
		padding-right: 10px;
	}
	.book-name {
		overflow: visible; 
	}
}
