page-student-library-list {
	.fixed p{
		font-size:8px !important;	
	}
	.toolbar-md, .toolbar-ios{
		padding:0px;
	}
	.search-icon i{
		color: #fff;
		padding-top: 5px;
		padding-right: 10px;
	}
	.book-name {
		overflow: visible; 
	}
	.item-md ion-thumbnail img {
		width: 65px;
		height: 65px;
	}
	.item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
		margin: 8px -7px -11px 0 !important;
	}
}
