page-attendance {
  ion-app.md [padding] .scroll-content {
    background: #f4f4f4;
  }

  .item-center {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 25%;
    transform: translateY(-50%);
  }

  .enquiry-form {
    /*background:#0756d5;*/
    width: 100%;
    padding: 30px 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .enquiry-form h1 {
    // color: #00109f;
    color: #f4f4f4;
    font-size: 20px;
  }

  .mt-10 {
    margin-top: 30px;
  }

  .fixed p {
    font-size: 8px !important;
  }

  .toolbar-md,
  .toolbar-ios {
    padding: 0px;
  }

  .button-outline-md-blue {
    border-color: #ffffff;
    color: #fff;
  }

  .toolbar-background-md {
    background-color: #009688 !important;
  }

  .button-inner {
    border-bottom: 1px solid #a0a0a0 !important;
  }

  .overley {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		background-color: #000;
		opacity: 0.6;
		z-index: 999999999;
	}


}
