
<ion-header>
  <ion-navbar color="blue">
    <ion-title>Attendance</ion-title>
  </ion-navbar>
</ion-header>





<ion-content *ngIf="showPeriodForm" class="item-center" padding>
	<h4 class="title" text-center text-uppercase margin-bottom>Select Period</h4>
	 <ion-list>
			<ion-item>
				<ion-label>Shift</ion-label>
				<ion-select [(ngModel)]="shift" (ionChange)="getPeriod($event)">
					<ng-container *ngFor="let shift of orgShiftLists">
						<ion-option value="{{shift.orgshift[0]?.id}}" *ngIf="shift.orgshift[0]?.id">{{shift.name}}</ion-option>
					</ng-container>
				</ion-select>
			</ion-item>
	</ion-list>

	<!--<ion-list>
			<ion-item>
				<ion-label>Stream</ion-label>
				<ion-select [(ngModel)]="stream" (ionChange)="onChooseClassStream($event)">
					<ion-option value="{{classStream.class_id}}" *ngFor="let classStream of sortArray">{{classStream.class_name}}</ion-option>
				</ion-select>
			</ion-item>
	</ion-list>

	<ion-list>
			<ion-item>
				<ion-label>Department</ion-label>
				<ion-select [(ngModel)]="department">
					<ion-option value="{{sec.sec_id}}" *ngFor="let sec of filteredArrayForSectionList">{{sec.section_name}}</ion-option>
				</ion-select>
			</ion-item>
	</ion-list>		 -->

	<ion-list>
			<ion-item>
				<ion-label>Period</ion-label>
				<ion-select [(ngModel)]="period">
					<ion-option *ngFor="let period of periodList" value="{{period.id}}">{{period.priod_name}} ({{period.from_time}} {{period.to_time}})</ion-option>
				</ion-select>
			</ion-item>
	</ion-list>

	<button ion-button block outline color="blue" class="mt-10" (click)="onPeriodSubmit()">Submit</button>
</ion-content>





<ion-content class="item-center" *ngIf="!showPeriodForm" padding>
	<div class="enquiry-form">
		<h1 class="title" text-center text-uppercase margin-bottom>Enter Attendance Pin</h1>
	 	<form>
		  <ion-item class="select-css">
		    <ion-input type="text" name="attPin" placeholder="Enter Pin" [(ngModel)]="attPin"></ion-input>
			</ion-item>
		 <button ion-button type="submit" block outline color="blue" class="mt-10" (click)="onSubmitStudentAttPin()">Submit</button>
		</form>
	</div>
</ion-content>





