<div class="overley" *ngIf="showLoader"></div>  
<div class="spinner" *ngIf="showLoader">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
</div>


<ion-header>
  <ion-navbar color="blue">
    <ion-title>Attendance</ion-title>
  </ion-navbar>
</ion-header>





<ion-content padding>
	<div *ngIf="showPeriodForm">
		<h4 class="title" text-center text-uppercase margin-bottom>Select Session</h4>
		<ion-list>
				<ion-item>
					<ion-label>Choose from Drop Down</ion-label>
					<ion-select [(ngModel)]="period">
						<ion-option *ngFor="let period of periodList" value="{{period.id}}">
							{{period.priod_name}} ({{period.from_time}} {{period.to_time}})
						</ion-option>
					</ion-select>
				</ion-item>
				<button ion-button block outline color="blue" class="mt-10" (click)="onPeriodSubmit()">Click To Put Attendance</button>
		</ion-list>
	</div>
	 <!-- <ion-list>
			<ion-item>
				<ion-label>Shift</ion-label>
				<ion-select [(ngModel)]="shift" (ionChange)="getPeriod($event)">
					<ng-container *ngFor="let shift of orgShiftLists">
						<ion-option value="{{shift.orgshift[0]?.id}}" *ngIf="shift.orgshift[0]?.id">{{shift.name}}</ion-option>
					</ng-container>
				</ion-select>
			</ion-item>
	</ion-list> -->

	<!--<ion-list>
			<ion-item>
				<ion-label>Stream</ion-label>
				<ion-select [(ngModel)]="stream" (ionChange)="onChooseClassStream($event)">
					<ion-option value="{{classStream.class_id}}" *ngFor="let classStream of sortArray">{{classStream.class_name}}</ion-option>
				</ion-select>
			</ion-item>
	</ion-list>

	<ion-list>
			<ion-item>
				<ion-label>Department</ion-label>
				<ion-select [(ngModel)]="department">
					<ion-option value="{{sec.sec_id}}" *ngFor="let sec of filteredArrayForSectionList">{{sec.section_name}}</ion-option>
				</ion-select>
			</ion-item>
	</ion-list>		 -->

	
	<div  *ngIf="!showPeriodForm">
		<h1 class="title" text-center text-uppercase margin-bottom>Enter Attendance Pin</h1>
	 	<form>
		  <ion-item class="select-css">
		    <ion-input type="nubmer" name="attPin" placeholder="Enter Pin" [(ngModel)]="attPin"></ion-input>
			</ion-item>
		 <button ion-button type="submit" block outline color="blue" class="mt-10" (click)="onSubmitStudentAttPin()">Submit</button>
		</form>
	</div>
	
</ion-content>







