* {
  font-family: Roboto, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.fixed {
  margin-top: 2rem;
  position: fixed;
  bottom: 0;
}

.footer-p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 200;
  letter-spacing: 1px;
}

.toolbar-nopadding .toolbar-title-md,
.toolbar-nopadding .toolbar-title-ios {
  padding: 0px !important;
  height: 166px;
  // background: linear-gradient(141deg, #23309e 0%, #1b7bc5 51%, #2635bf 75%);
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.toolbar-nopadding .toolbar-title-md img,
.toolbar-nopadding .toolbar-title-ios img {
  height: 100px;
  margin: 0px auto;
  text-align: center;
}

.content-margin .scroll-content {
  margin-top: 166px !important;
}

.img-width {
  width: 100%;
}


.loading-content {
  display: inline-flex;
}

.loader-class {
  width: 17%;
  margin-right: 20px;
}




// action-sheets-basic-page {
.action-sheet-md .action-sheet-title {
  color: #000 !important;
}

.action-sheet-md .action-sheet-button {
  font-size: 13.5px !important;
}

// }

.toolbar-background-md {
  background-color: #009688 !important;
}

.toolbar-title-md {
  color: #fff !important;
}

.title {
  text-decoration: none !important;
}

.content-md {
  color: #fff !important;
  background-color: #1b1b1b !important;
}

.list-md .item-block .item-inner {
  border-bottom: 1px solid #dedede !important;
}

.button-clear-md {
  color: #f6f6f6 !important;
}

.button-md-blue {
  color: #202020;
  background-color: #1CB9FF;
}

.item-md {
  color: #f6f6f6;
  background-color: #1b1b1b;
}

.list-md .item-block .item-inner,
.item-md.item-block .item-inner {
  border-bottom: none;
}

.list-md .item-block .item-inner {
  border-bottom: none !important;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default .bar-button-default-ios,
.bar-button-clear-ios-default,
.bar-button-ios-default {
  color: #f6f6f6;
  background-color: transparent;
}

.card-black {
  background-color: #1b1b1b00 !important; // black
  border: 1px solid rgba(161, 161, 161, 0.911);
}

.card-black * {
  color: #f4f4f4 !important;
}

.okBtn,
.alertOkBtn {
  background-color: #3c3c3c !important;
  color: #fff !important;
  width: 75px !important;
  text-align: center !important;
}

.cancelBtn {
  // border: 1px solid #717171 !important;
  // color: #fff !important;
  width: 80px !important;
  text-align: center !important;
}

.cancelBtn .button-inner {
  color: #717171;
}

.okBtn .button-inner,
.alertOkBtn .button-inner,
.cancelBtn .button-inner {
  display: block !important;
  text-align: center !important;
}

.alert-head {
  padding: 10px 24px 4px !important;
}

#alert-hdr-5 {
  text-align: center !important;
}

.action-sheet-md .action-sheet-title {
  font-size: 17px;
  font-weight: bold;
}

.eventAlert p {
  margin: 4px 0px 4px 0px !important;
  color: rgba(41, 33, 33, 1) !important;
}

.eventAlert .alert-message {
  padding-bottom: 0px;
}

.input-info {
  padding: 0px;
  margin: 0px;
  padding-left: 17px;
  padding-top: 2px;
  font-size: 9px;
  color: #909090;
}


#level-3>.toolbar-background-md {
  background-color: grey !important;
}


.back-button-icon-md {
  font-size: 3rem !important;
}


.alert-md .alert-button:nth-child(2) {
  background-color: #3c3c3c !important;
  color: #fff !important;
  width: 75px !important;
  text-align: center !important;
}

.alert-md .alert-button:nth-child(2) .button-inner {
  display: block !important;
  text-align: center !important;
}






// .item-inner {
// 	padding-right: 0px !important;
// }


// .alert-button-group.alert-button {
// 	border: 1px solid #000 !important;
// } 

// .eventAlert .alert-md .alert-message, .eventAlert .alert-md .alert-input-group {
// 	color: rgba(41, 33, 33, 1) !important; 
// }


ion-icon {
  &[class*="customicon-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
  }

  // custom icons
  &[class*="library"] {
    mask-image: url("../assets/imgs/library_logo.svg");
  }

  &[class*="notice-board"] {
    // mask-image: url(../assets/imgs/notice_board_logo.svg);
    background: url("../assets/imgs/notice_board.svg") no-repeat 50% 50%;
    background-size: contain;
  }

  &[class*="home"] {
    // mask-image: url(../assets/imgs/notice_board_logo.svg);
    background: url("../assets/icon/Home_btn.svg") no-repeat 50% 50%;
    background-size: contain;
  }

  &[class*="routine"] {
    // mask-image: url(../assets/imgs/notice_board_logo.svg);
    background: url("../assets/icon/staffRoutine.svg") no-repeat 50% 50%;
    background-size: contain;
  }

  &[class*="attendance"] {
    // mask-image: url(../assets/imgs/notice_board_logo.svg);
    background: url("../assets/icon/attendance.svg") no-repeat 50% 50%;
    background-size: contain;
  }

}






.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px auto;
  width: 100px;
  height: 70px;
  text-align: center;
  font-size: 10px;
  z-index: 99999999999;
}

.spinner>div {
  background-color: #333;
  border-radius: 5px;
  height: 100%;
  width: 10px;
  margin: 2px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect1 {
  background: #ed3533;
}

.spinner .rect2 {
  background: #0f6;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  background: #1cb9ff;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  background: #ffe42e;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  background: #5af9ff;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    border-radius: 320px;
  }

  20% {
    transform: scaleY(1);
    border-radius: 50px;
  }
}

.loading-wrapper {
  background: transparent !important;
  box-shadow: none !important;
}


.item-md.item-input.ng-valid.item-input-has-value .item-inner,
.item-md.item-input.ng-valid.input-has-value .item-inner,
.list-md.item.item-block.item-md.item-select.item-input-has-value .item-inner,
.list-md.item.item-block.item-md.item-select.input-has-value .item-inner {
  box-shadow: none !important;
  border-bottom: 1px solid #32db64 !important;
}

.list-md .item-block .item-input-has-value .item-inner,
.list-md .item-block .input-has-value .item-inner {
  border-bottom: 1px solid #32db64 !important;
  box-shadow: none !important;
}

.input-has-focus .label-md[floating] {
  color: #999;
}


.button-outline-md-blue {
  border-color: #fff !important;
  color: #fff !important;
  // margin-left: 1px !important;
  // margin-right: 16px !important;
  margin: 0 auto !important;
}


.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
  box-shadow: none !important;
}


.list-md .item-input.ng-valid.item-input-has-value:last-child,
.list-md .item-input.ng-valid.input-has-value:last-child {
  border-bottom-color: #32db64 !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.item-input-has-focus:last-child,
.list-md .item-input.ng-valid.input-has-focus:last-child {
  border-bottom-color: #dedede !important;
  box-shadow: none !important;
}

// .overley {
//   position: fixed;
//   top: 0px;
//   left: 0px;
//   width: 100vw;
//   height: 100vh;
//   background-color: #000;
//   opacity: 0.6;
//   z-index: 999999999;
// }


