<ion-header>
  <ion-navbar color="blue">
    <button ion-button menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="back-ground">
    <div class="mh-container">
      <img class="profile-image" src="{{profile_image}}" *ngIf="profile_image"/>
      <button ion-button icon-only round small color="light" class="camera-icon" (click)="getImage()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </div>
      <!-- <button ion-button block outline color="blue" class="mt-10 ml-10 mr-10" (click)="getImage()">Get Image</button>
      <button ion-button block outline color="blue" class="mt-10 ml-10 mr-10" (click)="uploadFile()">Upload Image</button> -->
      <h5 text-center text-uppercase color="light">{{studentDetails?.f_name}} {{studentDetails?.l_name}}</h5>
      <p text-center text-uppercase no-padding no-margin>{{studentDetails?.user_name}}</p>
      <p text-center text-uppercase no-padding no-margin>{{studentDetails?.nameclass?.class?.class_name}} {{studentDetails?.nameclass?.section?.sec_name}}</p>
      <p text-center text-uppercase no-padding no-margin>Semester : {{studentDetails?.nameclass?.sem_id?.sem_no}}</p>
      <p text-center text-uppercase no-padding no-margin>Attendance : 60%</p>
      <p text-center>
        <button class="btnStyle" ion-button color="dark" outline (click)="openModal()" *ngIf="studentDetails?.nameclass == null">Select Department</button>
      </p>
  </div>

    <!-- <ion-card>
      <ion-card-header>
        Doughnut Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card> -->

  <ion-card style="background-color: #353434; border: 1px solid #fff;" class="text-white">
    <ion-card-content>
        <p><strong>Email</strong>: {{studentDetails?.email}}</p>
        <p><strong>Mobile</strong>: {{localUserData?.mobile_no}}</p>
        <p><strong>Identification No.</strong>: {{studentDetails?.adhar_no}}</p>
        <p><strong>Caste</strong>: {{studentDetails?.cast_category}}</p>
        <p><strong>DOB</strong>: {{studentDetails?.dob}}</p>
        <p><strong>Gender</strong>: {{studentDetails?.gender}}</p>
        <p><strong>Roll No</strong>: {{studentDetails?.roll_no}}</p>
        <p><strong>Registration No</strong>: {{studentDetails?.registration_no}}</p>
        <button ion-button type="submit" block outline color="light" class="mt-10" (click)=goToPassword()>Change Password</button>
        
        <button ion-button type="submit" block outline color="light" class="mt-10" *ngIf="! issecurityadded" (click)=goToEnterSecurityPin()>Set Security Pin</button>
    </ion-card-content>
  </ion-card>
</ion-content>



<!-- 
<ion-footer class="fixed">
  <ion-toolbar color="primary">  
    <ion-grid text-center >
      <ion-row>
        <div col-3 (click)=gotoHome()>
          <img src="assets/imgs/white-icon5.png">
          <p class="footer-p">Home</p>
        </div>
        <div col-3 (click)=gotoLiveStream()>
          <img src="assets/imgs/white-icon1.png">
          <p class="footer-p">Live Streaming</p>
        </div>
        <div col-3 (click)=goToAttendance()>
          <img src="assets/imgs/white-icon2.png">
          <p  class="footer-p">Attendance</p>
        </div>
        <div col-3 (click)=goToRoutine()>
          <img src="assets/imgs/white-icon3.png">
          <p  class="footer-p">Routine</p>
        </div>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer> -->