page-parents-login {
	ion-app.md [padding], ion-app.ios [padding]{
			padding: 0px !important;
		}
		.scroll-content {
    		padding: 0px !important;
		}
	.item-center{
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		justify-content: center;
		/*height: 75vh;*/
    	flex-direction: column;
    	position: relative;
    	top: 50%;
    	transform: translateY(-50%);
	}
	
	.enquiry-form{
		/*background: linear-gradient(141deg, #23309e 0%, #1b7bc5 51%, #2635bf 75%);*/
		width: 100%;
		padding: 30px 40px;
	}
	.enquiry-form h3{
		// color: #00109f;
		color: #000;
		position: relative;
	}
	.enquiry-form h3:after{
		position: absolute;
		width: 80%;
		height: 2px;
		margin: 0px auto;
		// background:#00109f;
		background: #000;
		bottom: -5px;
		content: '';
		left: 50%;
		transform: translateX(-50%);
	}
	.mt-10{
		margin-top: 30px;
	}
	.title{
			font-size: 20px;
		}
	.list-ios > .item-block:first-child{
		border-top: 0px solid #c8c7cc !important;
	}
	.heading{
			font-size: 40px;
		    color: linear-gradient(141deg, #23309e 0%, #1b7bc5 51%, #2635bf 75%);;
		    position: relative;
		    text-align: center;
		    left: 50%;
		    transform: translateX(-50%);
		    top: 0px;
		    padding-top: 24px;
		    padding-bottom: 0px;
		    margin-bottom: 0px;
		}

		.list-md .item-block .item-inner {
			border-bottom: 1px solid #dedede !important;
		}

		.login-page-logo {
			width: 17%;
			position: relative;
			left: 23px;
			top: 8px;
		}
	
		.straight-line {
			transform: rotate(90deg);
			height: 30px;
			position: relative;
			left: 12px;
			top: 9px;
		}
		
		.sub-line{
			text-align: center;
			border-top: 1px solid #909090;
			border-bottom: 1px solid #909090;
			padding: 10px;
			margin: 0 0px 35px 0px;
			color: #909090;
		}
		.btn-size {
			padding: 15px 25px !important;
		}
		.input-info {
			padding: 0px;
			margin: 0px;
			padding-left: 17px;
			padding-top: 2px;
			font-size: 9px;
			color: #909090;
		}
}
