<ion-header class="custom-header">
  <ion-navbar color="">
    <ion-title>{{tabHeaderTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="overley" *ngIf="showLoader"></div>  
  <div class="spinner" *ngIf="showLoader">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
  </div>

  <div [ngSwitch]="guestTab">
    <div *ngSwitchCase="'search'">
      <div text-center margin-top style="margin-top: 40px;">
        <h4 style="font-size: 1.9rem;">
          <img class="login-page-logo" src="assets/icon/cyverhub_logo.svg">
          <img class="straight-line" src="assets/icon/substract.svg"> Welcome Guest !
        </h4>
      </div>

      <div class="sub-line" style="margin-bottom: 40px;">
        <p class="sub-head">Search for Enrolled <br>Institution under this <br>Digital Library.</p>
        <p class="sub-head"><br>Tap to view information for<br>Registered Institution.</p>
      </div>

      <!-- <div text-capitalize text-center margin-top>
        <p class="text-1">Choose one option from below</p>
      </div> -->

      <div text-uppercase text-center>
        <p class="text-2"(click)="goToSearchOrg()">I know<br> my institution</p>
        <p style="color: #fff">or</p>
        <p class="text-3" (click)="goToFilterOrg()">help me<br> find my institution</p>
      </div>
    </div>
  </div>



  <div [ngSwitch]="guestTab">
      <div *ngSwitchCase="'live'">
          <ion-list class="search-result">
              <ion-item *ngFor="let item of lists" (click)="goToLiveSection(item.id)">
                {{ item?.name }}
                <p class="col-result-add">{{ item?.landmark }}, {{ item?.city }}</p>
                <ion-note item-end class="note note-md">
                  {{ item?.org }}
                </ion-note>
              </ion-item>
          </ion-list> 
          
          
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </div>
  </div>



  <div [ngSwitch]="guestTab">
        <div *ngSwitchCase="'skill'">
            <ion-list class="search-result">
                <ion-item *ngFor="let item of lists" (click)="goToSkillSection(item.id)">
                  {{ item?.name }}
                  <p class="col-result-add">{{ item?.landmark }}, {{ item?.city }}</p>
                  <ion-note item-end class="note note-md">
                    {{ item?.org }}
                  </ion-note>
                </ion-item>
              </ion-list> 
            
            
              <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
              </ion-infinite-scroll>
        </div>
   </div>


  <div [ngSwitch]="guestTab">
      <div *ngSwitchCase="'library'">

        <ion-list class="search-result">
          <ion-item *ngFor="let item of lists" (click)="goToLibrarySection(item.id)">
            {{ item?.name }}
            <p class="col-result-add">{{ item?.landmark }}, {{ item?.city }}</p>
            <ion-note item-end class="note note-md">
              {{ item?.org }}
            </ion-note>
          </ion-item>
        </ion-list> 
      
      
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </div>
  </div>


<div [ngSwitch]="guestTab">
    <div *ngSwitchCase="'event'">
        <ion-list class="search-result">
            <ion-item *ngFor="let item of lists" (click)="goToEventSection(item.id)">
              {{ item?.name }}
              <p class="col-result-add">{{ item?.landmark }}, {{ item?.city }}</p>
              <ion-note item-end class="note note-md">
                {{ item?.org }}
              </ion-note>
            </ion-item>
          </ion-list> 
        
        
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
    </div>
</div>


<div [ngSwitch]="guestTab">
    <div *ngSwitchCase="'stuff'">
        <ion-list class="search-result">
            <ion-item *ngFor="let item of lists" (click)="goToStaffSection(item.id)">
              {{ item?.name }}
              <p class="col-result-add">{{ item?.landmark }}, {{ item?.city }}</p>
              <ion-note item-end class="note note-md">
                {{ item?.org }}
              </ion-note>
            </ion-item>
        </ion-list> 
        
        
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</div>



  <div [ngSwitch]="guestTab">
      <div *ngSwitchCase="'admission'">

        <ion-list class="search-result">
          <ion-item *ngFor="let item of lists" (click)="schoolsDetails(item.id)">
            {{ item?.name }}
            <p class="col-result-add">{{ item?.landmark }}, {{ item?.city }}</p>
            <ion-note item-end class="note note-md">
              {{ item?.org }}
            </ion-note>
          </ion-item>
        </ion-list> 
      
      
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </div>
  </div>



  <div [ngSwitch]="guestTab">
      <div *ngSwitchCase="'payment'">

        <ion-list class="search-result">
          <ion-item *ngFor="let item of lists">
            {{ item?.name }}
            <p class="col-result-add">{{ item?.landmark }}, {{ item?.city }}</p>
            <ion-note item-end class="note note-md">
              {{ item?.org }}
            </ion-note>
          </ion-item>
        </ion-list> 
      
      
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </div>
  </div>

  <div [ngSwitch]="guestTab">
    <div *ngSwitchCase="'exam_schedule'">
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-icon ios="ios-search" md="md-search"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="searchOrg" placeholder="Type Your Institution" (keyup)="filterCollgList($event)">
          </ion-input>
        </ion-item>
      </ion-list>
      
      <ion-list *ngIf="searchCollgResult.length > 0" class="search-result">
        <ion-item *ngFor="let item of searchCollgResult" (click)="onSelectSearch(item)">
          {{ item?.name }}
          <p class="col-result-add">{{ item?.landmark }}, {{ item?.city }} 
            <span>Ph:-</span>{{item?.phone_no}}
          </p>
          <ion-note item-end class="note note-md">
            {{ item?.org }}
          </ion-note>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="showData">
        <ion-item>
          <ion-label floating style="color: #9a9a9a">
            <ion-icon ios="ios-mail" md="md-mail"></ion-icon> Registration No/ Roll No
          </ion-label>
          <ion-input type="text" name="regID" no-margin [(ngModel)]="regID"></ion-input>
        </ion-item>
        <div text-center style="margin-top: 25px;">
          <button ion-button color="blue" type="button" class="btn-size mt-10" (click)="searchStudent()" >Search</button>
        </div>
      </ion-list>
      <div class="mt-3" *ngIf="SearchedResult.length > 0">
        <ion-grid>
          <ion-row>
            <ion-col col-3>
             Applicant Name
            </ion-col>
            <ion-col col-3>
              Room No
            </ion-col>
            <ion-col col-3>
              Subject
            </ion-col>
            <ion-col col-3>
              Date Of Exam
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let item of SearchedResult[0].exam_date">
            <ion-col col-3>
              {{item.exam_room[0].std_name}}
            </ion-col>
            <ion-col col-3>
              {{item.exam_room[0].room.name}} ({{item.exam_room[0].room.floor_name}})
            </ion-col>
            <ion-col col-3>
              {{item.dept}}
            </ion-col>
            <ion-col col-3>
              {{item.exam_date}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="mt-3" style="text-align: center" *ngIf="SearchedResult.length == 0 && showError">
        <p class="text-ios-light">No Record Found.</p>
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
  
    </div>
  </div>

</ion-content>



<ion-footer style="border-top: 1px solid #393939;">
    <ion-icon style="color: #ccc; font-size: 2.2em; position: fixed; z-index: 999; left: 2%; bottom: 3%;" name="ios-arrow-back" (click)="scrollToRight()"></ion-icon>
    <ion-icon style="color: #ccc; font-size: 2.2em; position: fixed; z-index: 999; right: 2%; bottom: 3%;" name="ios-arrow-forward" (click)="scrollToLeft()"></ion-icon>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="guestTab">
          <ion-segment-button value="search" (click)="onClickTab('1')">
            <p>
              <img class="notice-img" style="height: 20px" src="assets/imgs/generalNotice.svg">
            </p>        
            Search Institution
          </ion-segment-button>
          <ion-segment-button value="live" (click)="onClickTab('2')">
              <p>
                <img class="notice-img" style="height: 20px" src="assets/imgs/personalNotice.svg">
              </p>
            Live Stream
          </ion-segment-button>
          <ion-segment-button value="library" (click)="onClickTab('3')">
            <p>
              <img class="notice-img" style="height: 20px" src="assets/imgs/personalNotice.svg">
            </p>
            Library Inventory
          </ion-segment-button>
        </ion-segment>        
    </ion-toolbar>
  
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="guestTab">
          <ion-segment-button value="event" (click)="onClickTab('4')">
            <p>
              <img class="notice-img" style="height: 20px" src="assets/icon/calender_btn.svg">
            </p>        
            Event Viewer
          </ion-segment-button>
          <ion-segment-button value="skill" (click)="onClickTab('5')">
              <p>
                <img class="notice-img" style="height: 20px" src="assets/imgs/departmentalNotice.svg">
              </p>
            Skill Development
          </ion-segment-button>
          <ion-segment-button value="stuff" (click)="onClickTab('6')">
            <p>
              <img class="notice-img" style="height: 20px" src="assets/imgs/departmentalNotice.svg">
            </p>
            Staff Details
          </ion-segment-button>
        </ion-segment>
    </ion-toolbar> 
    
    
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="guestTab">

        <ion-segment-button value="admission" (click)="onClickTab('7')">
          <p>
            <img class="notice-img" style="height: 20px" src="assets/icon/calender_btn.svg">
          </p>        
          Admission
        </ion-segment-button>
          <ion-segment-button value="exam_schedule" (click)="onClickTab('8')">
            <p>
              <img class="notice-img" style="height: 20px" src="assets/icon/calender_btn.svg">
            </p>
            Exam Schedule
          </ion-segment-button>

        <!-- <ion-segment-button value="">
          <p>
            <img class="notice-img" style="height: 20px" src="assets/imgs/departmentalNotice.svg">
          </p>
          Staff Details
        </ion-segment-button> -->

      </ion-segment>
    </ion-toolbar> 

  </ion-footer>
