page-student-owndetails {
	.fixed p{
		font-size:8px !important;	
	}
	.toolbar-md-blue .bar-button-md-light{
	    display: block !important;
	}
	.bell-icon{
		cursor:pointer !important;
		background:none;
		float: right; 
	}
	.icon-center, .icon-center img{
		display: block !important;
		text-align: center !important;
		margin:0px auto !important;
	}
	.icon-center{
		border: 1px solid #fff;
	    background: #EEEEEE;
	    padding: 5px 0;
	}
	.icon-center p{
		font-size: 12px;
	}
	.toolbar-md, .toolbar-ios{
		padding:0px;
	}

}
