page-student-owndetails {
	.fixed p{
		font-size:8px !important;	
	}
	.toolbar-md-blue .bar-button-md-light{
	    display: block !important;
	}
	.bell-icon{
		cursor:pointer !important;
		background:none;
		float: right; 
		padding-right: 10px; 
	}
	.icon-center, .icon-center img{
		display: block !important;
		text-align: center !important;
		margin:0px auto !important;
	}
	.icon-center{
		 /* border: 1px solid #fff; */
		background: #505050;
		padding: 5px 0;
		box-shadow: white;
		/* box-shadow: 1px 4px 18px #9c9c9c6e; */
		margin: 5px !important;
		border-radius: 5px;
	}
	.icon-center p{
		font-size: 12px;
	}
	.toolbar-md, .toolbar-ios{
		padding:0px;
	}

	.badge-md,.badge-ios{
		position: absolute;
		border-radius: 47px;
		color: #fff;
		background-color: #000;
		top: -16px;
		left: 13px;
		height: 22px;
	}

	.card {
		background-color: #1b1b1b !important; // black
		border: 1px solid rgba(161, 161, 161, 0.911);
	}
	.card-md *,.card-ios *{
		color: #f4f4f4 !important;
	}
	.card-title-border{
		position: absolute;
		left: 7%;
		top: -3px;
		background-color: #1b1b1b;
		padding: 4px 14px;
	}
	.grid{
		padding: 11px;
	}
	.logo-action {
		max-width: 29%;
		height: 61%;
		padding-top: 15px;
	}
}
